
.card-container {
    background-color: rgb(19, 19, 19);
    display: grid;
    grid-template-rows: auto auto;;
    gap: 1rem;
    justify-items: space-between;
    
}

.card {
    background-color: black;
    border-radius: 10px;
    height: fit-content;
}

.card-arName {
    color: #d4af37;
    font-size: 2rem;
    text-align: center;
}

.card-enName {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 1rem;

}

.card-meaning {
    color: white;
    text-align: center;
    font-size: 1rem;
}

.card-explanation {
    border: solid 1px #d4af37;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding-top: 10%;
    font-size: 1rem;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    border: solid 3px black;
    border-radius: 5px;
}

.prev-button {
    background-color: #d4af37;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 10px;
    
}

.next-button {
    background-color: #d4af37;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 10px;
}

.flip-button {
    background-color: #d4af37;
    border: black;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: .8rem;
   
}

.flip-button:hover {
    background-color: green;
    color: white;

}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}